* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: regular;
}

.row-movies::webkit-scrollbar {
  display: none;
}
.bg-dark {
  background-color: #444444;
}
.primaryColor {
  color: #00c2ff;
}
